{% extends "auctions/layout.html" %}

{% block title %}
    {{ listing.title }}
{% endblock %}

{% block heading %}
    {{ listing.title }}
{% endblock %}

{% block section %}
        <blockquote>
            This Bid is {{ listing.get_status_display }}.
        </blockquote>

        {% if message_for_winner|length > 0 %}
            <blockquote>{{ message_for_winner }}</blockquote>
        {% endif %}
    <section>
        <div class="row gtr-uniform">
            <div class="col-3 col-12-xsmall">
                <span class="image fit"><img src="{{ listing.image_url }}" alt="" /></span>
            </div>
            <div class="col-9 col-12-xsmall">
                <b>Title: </b>{{ listing.title }} <br />
                <b>Description: </b>{{ listing.description }} <br />
                <b>Current Bid Price: </b>{{ listing.current_price }} by {{ user_bid }} <br />
                <b>Category: </b>{{ listing.get_category_display }} <br />
                <b>Owner: </b>{{ listing.owner }} <br />
                <b>Added On: </b>{{ listing.added_on }} <br />
                {% if winner.username|length > 0 %}
                <b>Winner: </b>{{ listing.winner }}
                {% endif %}
                <br />
                <a href="{% url 'watchlist' listing.id %}" method="post">{{ add_or_remove }}</a>
                {% if close_bid|length > 0 %}
                <br />
                <a href="{% url 'close' listing.id %}">{{ close_bid }}</a>
                    {% endif %}
            </div>
    </section>
    {% if user.is_authenticated %}

    <!-- Display Error Message If Exists -->
    {% if messages %}
    <blockquote>
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    </blockquote>
    {% endif %}

    {% if BidForm %}
    <section style="margin-top: 50px;">
        <form method="POST" action="{% url 'view' listing.id %}">
            {% csrf_token %}
            <div class="row gtr-uniform">
            <div class="col-5 col-12-xsmall">
                <label for="bid_amount">Enter Bid Amount</label>
                {{ BidForm.bid_amount }}
            </div>
            <br />
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Bid Now" class="primary" /></li>
                </ul>
            </div>
            </div> 
        </form>
    </section>
    {% endif %}
     
    {% if CommentForm %}
    <section style="margin-top: 50px;">
        <form method="POST" action="{% url 'comment' listing.id %}">
            {% csrf_token %}
            <div class="row gtr-uniform">
            <div class="col-5 col-12-xsmall">
                <label for="comment">Enter a Comment</label>
                {{ CommentForm.comment }}
            </div>
            <br />
            <div class="col-12">
                <ul class="actions">
                    <li><input type="submit" value="Add Comment" class="primary" /></li>
                </ul>
            </div>
            </div> 
        </form>
    </section>
    {% endif %}

    {% else %}
        <blockquote>
            {{ message }}
        </blockquote>
    {% endif %}

    {% if all_comments %}
    <h3 style="margin-top: 50px;">Comments</h3>
    <ul class="alt">
        {% for comment in all_comments %}
            <li>
                {{ comment.comment }}
                <br />
                {{ comment.user.username }} ({{ comment.added_on }})
            </li>
        {% endfor %}
    </ul>
    
    {% endif %}
{% endblock %}