{% extends "auctions/layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block heading %}
    Login
{% endblock %}

{% block section %}
    <section>
        {% if message %}
            <blockquote>{{ message }}</blockquote>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="row gtr-uniform">
                <div class="col-6 col-12-xsmall">
                    <label for="username">Username</label>
                    <input autofocus class="form-control" type="text" name="username">
                </div>
                <div class="col-6 col-12-xsmall">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password">
                </div>
                
                <div class="col-12">
                    <ul class="actions">
                        <li><input type="submit" value="Login" class="primary" /></li>
                        <li><input type="reset" value="Reset" /></li>
                    </ul>
                </div>
            </div>
        </form>

        Don't have an account? <a href="{% url 'register' %}">Register here.</a>
    </section>
{% endblock %}